#a {
    content: 'id';
}

.c {
    content: 'block__element';
}

.d {
    content: 'block__element--modifier';
}

.d {
    content: 'block__element--modifier';
}

.e{
    content: 'block--modifier';
}

.b {
    content: 'block';
}

.f:before {
    content: 'before';
}
