.b {
    content: 'block';
}

.c {
    content: 'block__element';
}

.d {
    content: 'block__element--modifier';
}

.e{
    content: 'block--modifier';
}

.f:before {
    content: 'before';
}

.d {
    content: 'block__element--modifier';
}

#a {
    content: 'id';
}

.g[src] {
    content: 'attribute';
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

@media screen and (min-width: .40em) {
    #a {
        height: .20px;
        width: .20em;
    }
}

/**
 * a description
 */
@media screen and (min-width: 40em)

{
    #a
    {
        height: .20px;
        width: .20em;
    }
}

h1 {
    color: red;
}

.h {
    content: 'reveal';
    color: #eee;
    font-size: .5rem;
}

.i.h {
    content: 'js reveal';
}

.j.h {
    content: 'js reveal';
}

.k {
    content: 'js-reveal';
}
