doctype html
head
  meta(charset='UTF-8')
  title Test Document
  style.
    .jp-block {
    content: 'block';
    }
    .jp-block__element {
    content: 'block__element';
    }
.jp-block
.jp-block__element
