doctype html
head
  meta(charset!='UTF-8')
  meta(name!='viewport' content!='width=device-width, initial-scale=1.0')
  meta(http-equiv!='X-UA-Compatible' content!='ie=edge')
  title Document
table#a.b.c
div
  div
    .some-class
      table#a.b.c
script.
  const myClass = "c";
  const anotherClass = "b";
  const id = "a";
