doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
table#id.test.selector
div
  div
    .some-class
      table#id.test.selector
script.
  const myClass = "selector";
  const anotherClass = "test";
  const id = "id";
