.box-xs, .box-sm, .box-md, .box-lg {
  margin: 10px;
}
.my-footer > [class^='box-'] {
  display: flex;
  align-items: center
}

.msg-err, .msg-warn, .msg-inf, .msg-ok {
  font-family: monospace;
}
.btn > [class^="msg-"] {
  padding: 10px;
}

.lst-dot, .lst-dash {
  margin-left: 10px;
}
.board > [class^=lst-] {
  padding: 0;
}
